<div class="row">
  <div class="col">
<div class="card text-center">
  <h5 class="card-header">{{produkt.emri}}</h5>
  <div class="card-body">
    <ul class="list-group list-group-flush">
    <li class="list-group-item"> Kategoria: {{ produkt.kategoria }}</li>
    <li class="list-group-item">Sasia ne magazine: {{ produkt.sasia }} </li>
    <li class="list-group-item"> Cmimi: {{ produkt.cmimi }} ALL</li>
      <li class="list-group-item"> Dyqani: {{ produkt.dyqani }}</li>
  </ul>
    <div class="card-footer">
      <a href="{% url 'index' %}" class="btn btn-secondary btn-sm">Kthehu</a>
  </div>
  </div>
</div>
</div></div>