{% extends "baze.html" %}

{% block permbajtja %}
    {% if validlink %}
        <p>Shkruani fjalekalimin tuaj te ri.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Fjalekalimi i ri:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Konfirmo fjalekalimin:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Ndrysho fjalekalimin" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Ndryshimi i fjalekalimit deshtoi!</h1>
        <p>Linku i fjalekalimit nuk ishte i vlefshem, ndoshta sepse fjalekalimi eshte perdorur me pare.Ju lutem , kerkoni nje tjeter ndryshim te fjalekalimit.Please request a new password reset.</p>
    {% endif %}
{% endblock %}