<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyShop</title>
</head>
<body>
{% include "baze.html" %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="container">
           {% include "navbar.html" %}
            <div class="inner cover">
                <h1 class="cover-heading">Shumëllojshmëri produktesh në shtëpinë tuaj </h1>
                <p class="lead">PyShop është një sistem online i katalogimit të produkteve. PyShop ju ofron mundësinë që
                    të kërkoni produktin dhe dyqanet ku ndodhet ose të shikoni inventarin e një dyqani. Rregjistrohuni
                    për mundësinë e blerjes online.</p>
                <p class="lead">
<!--                    Form per te kerkuar emrin e dyqanit-->
                    <form action="KerkoDyqan/" method="post">
                <div class="form-group">
                        {% csrf_token %}
                        <label for="emri_dyqanit"> Kërko Dyqanin : </label>
                    <input  id="emri_dyqanit" type="text" name="emri_dyqanit" value="">
                    <input type="submit" value="Search"></div>
                    </form>
                <form action="KerkoProdukt/" method="post">
                        {% csrf_token %}
                    <div class="form-group">
                        <label for="emri_produktit"> Kërko Produktin : </label>
                        <input  id="emri_produktit" type="text" name="emri_produktit" value="">
                        <input type="submit" value="Search"></div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="img">
        <img alt="My image" src="{% static 'app/images/shopping.jpg' %}">
    </div>
    <hr>
</div>
  {% block footer %}
{% include "footer.html" %}
  {% endblock %}
</body>
</html>