<div class="masthead clearfix bar">
    <div class="row">
    <div class="container inner">
        <h3 class="masthead-brand col-6">PyShop</h3>

            <nav class="navbar navbar-expand-lg col-6">
                <ul class="navbar-nav masthead-nav">
                    <li class="active nav-item"><a href="{% url 'index' %}">Home</a></li>
                    <li><a class="nav-item " href="{% url 'login_request' %}">Login</a></li>
                    <li><a class="nav-item" href="{% url 'sign_up' %}">Register</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
